/**/Makefile
/**/Makefile.*
/**/*.pro.user
bin
lib
build
/**/*.pdb
/**/debug
/**/release
.vscode/
/**/*.vcxproj
/**/*.sdf
/**/*.v11.suo
/**/*.vcxproj.filters
/**/*.vcxproj.user
/**/*.opensdf
/**/*.VC.db
/**/*.VC.VC.opendb
.vs
.qmake.stash
/**/*.o

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake